.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

/** ELEMENTS **/
.post {
    position: absolute;
}

.post:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
}

.source-target-demo .post {
    border: 2px dotted #346789;
    width: 20em;
    min-height: 4em;
    line-height: 4em;
    padding: 0.5em;
}

.smallPost, .babyWindow {
    background-color: #558822;
    cursor: move;
}

/** ENABLE/DISABLE LINK **/
#enableDisableSource {
    position: absolute;
    top: 1em;
    left: 15em;
    color: #DDD;
}

#enableDisableSource:hover {
    color: orange;
}

/** LARGE WINDOW STYLE AND POSITION **/
.headPost {
    background-color: #0d78bc;
    top: 1em;
    left: 14em;
    width: 20em;
    min-height: 6em;
    text-align: left;
}

/** SMALL WINDOW POSITIONS **/
#2 {
    top: 29em;
    left: 44em;
}



/** JSPLUMB ARTEFACTS **/
.jsplumb-endpoint {
    z-index: 32;
}

path, .jsplumb-endpoint {
    cursor: pointer;
}

/* ENDPOINT STYLES */
.large-green circle {
    fill:#558822;
}

.small-blue circle {
    fill:#0d78bc;
}